NEXT_PUBLIC_DEFAULT_CHAIN_ID=SN_SEPOLIA
NEXT_PUBLIC_MAINNET_RPC_URL=https://rpc.starknet.lava.build
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://api.hydrogen.argent47.net/v1/starknet/sepolia/rpc/v0.10
NEXT_PUBLIC_ARGENT_SESSION_SERVICE_MAINNET_BASE_URL=https://cloud.argent-api.com/v1
NEXT_PUBLIC_ARGENT_SESSION_SERVICE_SEPOLIA_BASE_URL=https://api.hydrogen.argent47.net/v1
NEXT_PUBLIC_ARGENT_WEBWALLET_URL=https://sepolia-web.argent.xyz
